<app-header></app-header>
<div class = "container mt-5 mb-4 border p-4">

<h1> Upload file </h1>
<form [formGroup]= "testForm" (ngSubmit) = 'uploadFile(testForm)'> 
    <label class = " mt-3">
        <h5>Add File : </h5>
    </label>
    <br>
        <input class = "btn border-success mt-3" type="file"  (change) = "upload($event)" formControlName= 'file'>
        <input type = "text" class = "form-control col-3 mt-3" placeholder="Test name" formControlName= 'testName'>
        <input type = "text" class = "form-control col-3 mt-3" placeholder="Test Id" formControlName= 'testId'>
        <button class = "btn border-success mt-3" >upload</button>

    <div class = "progress mt-4">
        <div class = "progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]= "(uploadProgress | async) + '%'" [attr.aria-valuenow] = "(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>    
    </div>
  </form>
    <h3 *ngIf = 'uploaded'>Your test has been uploaded</h3>

    <button *ngIf = "!showTests" class = "btn border-success mt-3" (click)="show()">show tests</button>
    <button *ngIf = "showTests" class = "btn border-success mt-3" (click)="show()">hide tests</button>
    <table *ngIf = "showTests" class="table mt-4">
     
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Test Name</th>
            <th scope="col">Test Id</th>
            <th scope="col">Date entered</th>
            <th scope="col">See test</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
            
          <tr *ngFor = "let test of tests; let i = index" >
            <th scope="row">{{i+1}}</th>
            <td>{{test.name}}</td>
            <td>{{test.id}}</td>
            <td>{{test.date}}</td>
            <td>  
              <a href={{test.testUrl}}>Go to test</a>            
            </td>
            <td>
              <button class = "btn border-success">delete test</button>
            </td>
          </tr>
        
      </table>

</div>