<app-header></app-header>
<div class = "container mt-5 mb-4 border p-4">

<h1> Upload file </h1>
<form [formGroup]= "testForm" (ngSubmit) = 'uploadFile(testForm)'> 
    <label class = " mt-3">
        <h5>Add File : </h5>
    </label>
    <br>
        <input type="file"  (change) = "upload($event)" formControlName= 'file'>
        <input type = "text" class = "form-control col-3 mt-3" placeholder="Test name" formControlName= 'testName'>
        <input type = "text" class = "form-control col-3 mt-3" placeholder="Test Id" formControlName= 'testId'>
        <button class = "btn border-success mt-3" >upload</button>

    <div class = "progress mt-4">
        <div class = "progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]= "(uploadProgress | async) + '%'" [attr.aria-valuenow] = "(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>    
    </div>
  </form>
    <h3 *ngIf = 'uploaded'>Your test has been uploaded</h3>
    <button class = "btn border-success mt-3" (click)="show()">show test</button>
    <table *ngIf = "showTests" class="table mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Test Name</th>
            <th scope="col">Test Id</th>
            <th scope="col">Date entered</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody >
            
          <tr  >
            <th scope="row">1</th>
            <td>{{uploadingTest.name}}</td>
            <td>{{uploadingTest.id}}</td>
            <td>{{uploadingTest.date}}</td>
          </tr>
       
      </table>

</div>