<div class = "container ">
    <div class = "border mt-5" style = "margin-left: 200px; margin-right: 200px;">
    <h1 class = "mt-5 text-center">Welcome! Please log in.</h1>
    <form >
        <div class="card mt-4 login mb-4" style="width: 15rem; padding: 20px; margin-left: 135px;">
        <div class = "row g-2">
            <div class = "col-auto">
                <label for = "name" class = "form-label mr-5"> Email</label>
                <input type = "text" class="form-control" id ="name" [(ngModel)] = "email" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <br>
        <div class = "row g-2">
            <div class = 'col-auto clear' >
                <label for = "id" class = "form-label"> Password</label>
                <input type = "password" class="form-control" id ="id" [(ngModel)] = "password" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <div class = "row g-2">
            <div class = "col-auto mb-3" >
                <button class = "btn btn-success " (click) = "login()">Log in</button>
            </div>
        </div>
    </div>
    </form>
  </div>
</div>
