<div class = "container">
    <h1 class = "mt-5">Welcome! Please log in.</h1>
    <form>
        <div class = "row g-2">
            <div class = "col-auto">
                <label for = "name" class = "form-label mr-5"> User Name</label>
                <input type = "text" class="form-control" id ="name">
            </div>
        </div>
        <br>
        <div class = "row g-2">
            <div class = 'col-auto clear' >
                <label for = "password" class = "form-label"> Password</label>
                <input type = "text" class="form-control" id ="password">
            </div>
        </div>
        <button class = "btn btn-primary mt-4" >Log in</button>
    </form>
</div>
