<app-header></app-header>
<div class = "container d-flex justify-content-center  mt-5">
    <div class = "border p-5" style = "margin-top: 4%;">
    <h1 *ngIf = "verification; else timeoutMessage" class = " text-center">Welcome! <br> Please log in.</h1>
    <ng-template #timeoutMessage><h5 class ="text-danger text-center mt-3" >* Invalid entry <br>please re-sign in</h5></ng-template>
    <form >
        <div class="card mt-4 login mb-4" style="width: 20rem; padding: 20px; ">
        <div class = "row g-2">
            <div class = "col">
                <label for = "name" class = "form-label"> Email</label>
                <input type = "text" class="form-control" id ="name" [(ngModel)] = "email" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <br>
        <div class = "row g-2">
            <div class = 'col clear' >
                <label for = "id" class = "form-label"> Password</label>
                <input type = "password" class="form-control" id ="id" [(ngModel)] = "password" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <div class = "row g-2">
            <div class = "col mb-3 text-center" >
                <button class = "btn border-success " (click) = "login()">Log in</button>
            </div>
        </div>
    </div>
    </form>
  </div>
</div>
