.center {
    margin-left: 32%;
}
.square{
    width: 20px;
}
.butn {
    border: none;
    background-color: inherit;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .butn:hover {
    text-decoration: underline;}
    .background{
        background-color: rgb(218, 214, 214);
    }