<div class = "container-fluid bt-5">
    
    <div class = "ml-5 mt-5">
        <h2>Welcome ! </h2>
        <h3 >Please type the mobile verifcation <br>you recieved</h3>          
    </div>
    
    <div class="input-group  mt-5">
        <div class = "row ml-5 ">
        <input class = "form-control col-1 ml-3"style="font-size:23px; text-align-center"size = "3" maxlength = "1" type="text">
        <input class = "form-control col-1 ml-3"style="font-size:23px; text-align-center"size = "3" maxlength = "1" type="text">
        <input class = "form-control col-1 ml-3"style="font-size:23px; text-align-center"size = "3" maxlength = "1" type="text">
        <input class = "form-control col-1 ml-3"style="font-size:23px; text-align-center"size = "3" maxlength = "1" type="text"> 
        <br>
        
    </div>
    <footer>
        <input class="btn btn-primary col = 2" type="submit" value="CONTINUE">  
        </footer>

    
</div>
