<app-header></app-header>
<div class = "container border p-4 col-3" style="margin-top: 6%;">
    <div class = "d-flex justify-content-center">
    <div class = "text-center" *ngIf = "!tryAgain; else errorMessage">
    <h1 class = "mt-2 "> <span class = "text-success">Welcome!</span> <br>Please register <br>your login password</h1>
    </div>
    <ng-template #errorMessage>
        <div class = "mt-2 text-center"> 
            <h2 class = "text-danger">Password and confirmation didn't match!</h2> <h2>Let's try again</h2>
        </div>
    </ng-template>
    </div>
    <div class = "d-flex justify-content-center mb-3">
    <form >
        <div class="card mt-4 login " style="width: 15rem; padding: 20px;">
        <div class = "row g-2">
            <div class = "col-auto">
                <label for = "password" class = "form-label mr-5"> Password</label>
                <input type = "password" class="form-control" id ="password" [(ngModel)] = "password" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <br>
        <div class = "row g-2">
            <div class = 'col-auto clear' >
                <label for = "confirmation" class = "form-label"> Confrim Password</label>
                <input type = "password" class="form-control" id ="confirmation" [(ngModel)] = "confirmation" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <br>
        <div class = "row g-2">
            <div class = "col-auto clear ml-4" >
                <button class = "btn border-success " (click) = "register()">create password</button>
            </div>
        </div>
    </div>
    </form>
</div>
</div>
