<div class = "container  p-4 ">
    <div *ngIf = "!tryAgain; else errorMessage">
    <h1 class = "mt-5 text-center">Welcome! Please register your login password</h1>
    </div>
    <ng-template #errorMessage><h2 class = "mt-5 text-center ">Password and confirmation didn't match! Let's try again</h2></ng-template>
    <form >
        <div class="card mt-4 login text-align-center" style="width: 15rem; padding: 20px; margin-left: 310px;">
        <div class = "row g-2">
            <div class = "col-auto">
                <label for = "password" class = "form-label mr-5"> Password</label>
                <input type = "password" class="form-control" id ="password" [(ngModel)] = "password" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <br>
        <div class = "row g-2">
            <div class = 'col-auto clear' >
                <label for = "confirmation" class = "form-label"> Confrim Password</label>
                <input type = "password" class="form-control" id ="confirmation" [(ngModel)] = "confirmation" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <br>
        <div class = "row g-2">
            <div class = "col-auto clear ml-4" >
                <button class = "btn btn-success " (click) = "register()">create password</button>
            </div>
        </div>
    </div>
    </form>
</div>
