<nav class="navbar navbar-expand-lg navbar-light background ml-auto e ">
    <div class="container-fluid col-12">
      <div class = "ml-3">
      <img src = "../assets/logo.png" (click) = "goHome()">
    </div>
    <div *ngIf = "!isIntern">
      <div class="navbar-nav ml-auto mb-2 mb-lg-0" id="navbarText">
        <span class="navbar-text ml-auto">
            <h5>Already have an account</h5>
          </span>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-primary" routerLink = "/log-in" ><h5>Log in</h5></a>
          </li> 
        </ul>  
      </div>
    </div>
    <div *ngIf = "isIntern">
      
      <div class = " ml-2 text-decoration-underline">
        <h5 >{{currentUser.name}}</h5>
      </div>
      <div class = "mr-5">
        <ul class="navbar-nav mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link text-primary mr-3" (click)= "logOut()" ><h5>Log out</h5></a>
          </li> 
        </ul>
      </div>
    </div>
  </div>
</nav>
