.background{
    background-color: rgb(214, 214, 214);
}
.header {
    position: absolute;
}
nav{
    border-bottom: black;
    border-bottom-width: 3px;
    border-right-width: 20px;
    border-right: black;
}