
<app-header></app-header>
<div class = "container flex-box border col-6 p-3 " style="margin-top: 7%;">
   
        <div class = "row mt-5">
            <div class = "picture col-4 ">
                <img style = "height: 230px;" src = "../../../assets/lab.jpg">
            </div>
            <div class = "col-3 ml-5 mt-4 mb-5">
                <div class = "mt-3">
                    <button (click) = "getInternMessage()" class="butn default">Intern</button>
                    <button (click) = "getSupervisorMessage()" class="butn default ml-3">  Supervisors</button>
                </div>
           
                <div *ngIf = "show">
                    <app-welcome-message></app-welcome-message>
                </div>
                <div *ngIf = "showIntern">
                    <app-intern-welcome></app-intern-welcome>
                </div>
                <div *ngIf = "showSupervisor">
                    <app-supervisors-welcome></app-supervisors-welcome>
                </div>
            </div>
        
        </div>
  
    </div>
