<div class = "container mr-3 mt-5">
    <div>
        <h1>Welcome, intern!</h1>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Intern</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Supervisor</a>
            </li>
        </ul>
        <br>
        <p>If you do not already have an account <br>
        click on the button below and create <br>a new account</p>
        <br>
        <a class="btn btn-primary px-3 ml-2"  role="button" routerLink = "/internForm">Register Now</a>
  </div>
</div>