.picture {
    
    margin: 40px;
     
   margin-left: 10%;
}
.button {
    margin-right: 45%;
    float: right;
}
img {
  height: 700px;
  width: 350px;  
   
}
.butn {
    border: none;
    background-color: inherit;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .butn:hover {
    text-decoration: underline;}