.butn {
    border: none;
    background-color: inherit;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .butn:hover {
    text-decoration: underline;}
  .margin{
    margin-bottom:100px;

  }
  .background{
    background-color: rgb(235, 230, 230);
}