<nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto">
    <div class="container-fluid">
      <h1>Logo</h1>
     
      <div class="navbar-nav ml-auto mb-2 mb-lg-0" id="navbarText">
        <span class="navbar-text ml-auto">
            Already have an account
          </span>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-primary" routerLink = "/internForm" >Log in</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
 
  
<router-outlet></router-outlet>
