<div class = "container">
    <div class = "mt-5 row justify-content-center">
        <div *ngIf = "!getInterns" class = "border p-4">
            <h1>Welcome Supervisor!</h1>
            <h3 class = "mt-4 ml-2">Click here to get all the users</h3>
       
                <button class="mt-4 ml-2 btn border-success" style = "width: 370px;" (click)= "getAll()">Get All</button>
        </div>
        <div *ngIf = "getInterns">
            <app-get-all-interns></app-get-all-interns>
        </div>
    </div>
</div>