
<app-header></app-header>
<div class = "container">
    <div class = "mt-5 row justify-content-center" >
        <div  class = "border p-4" style = "margin-top: 12%;">
            <h1>Welcome Supervisor!</h1>
            <h3 class = "mt-4 ml-3">Click bellow to find what you are looking for</h3>
                <div class = "mr-5">
                <button class="mt-4 ml-5 btn border-success" style = "width: 130px;" (click)= "getAll()">Get All Interns</button>
                
                <button class="mt-4 ml-2 btn border-success" style = "width: 130px;" (click)= "grade()" routerLink = '\gradeTests'>Grade Tests</button>
                <button class="mt-4 ml-2 btn border-success" style = "width: 180px;" (click) = "goToUpload()">Upload/Delete Test</button>
                <button class="mt-4 ml-2 btn border-success" style = "width: 180px;" routerLink = "/allGradedTests">Get All Graded Tests</button>
            </div>
        </div>
    </div>
  </div>

        