<div class = "container mt-5">
    <p>Personal details</p>
    <h1 class = "mb-4">Please tell us about yourself, personally</h1>
    <form [formGroup] = "personalInfo" (ngSubmit) = "sendForm(personalInfo)" class="row g-3">
        <div class="col-md-4 mb-2">
          <label for="age" class="form-label">Age</label>
          <input id="age" formControlName="age" type="text" class="form-control" >
        </div>
        <div class="col-md-4 mb-2">
          <label for="country" class="form-label">Country</label>
          <input id = "country" formControlName = "country" type ="text" class = "form-control">
            </div>
        <div class="col-md-4 mb-2">
            <label for="city" class="form-label">City</label>
            <input  type="text" class="form-control" id="city" formControlName="city">
        </div>
        <div class="col-md-4">
            <label for="graduationYear" class="form-label">Graduation year</label>
            <input  type="text" class="form-control" id="graduationYear" formControlName="graduationYear">
        </div>
        <div class="col-md-4">
            <label for="institution" class="form-label">Academic institution</label>
            <input  type="text" class="form-control range" id="institution" formControlName="institution">
        </div>
          <br>
          
        <div class="col-12 mt-3">
            <button class = "btn btn-success button">Next</button>
        </div>
    </form>

