<div class = "container-fluid">
    <h1>Welcome intern!</h1>
    <br>
    <p>Please fill in the following fiels to create an account</p>
    <form class="row g-3">
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">ID number</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder=" Placeholder">
        </div>
        <div class="col-md-4">
          <label for="inputPassword4" class="form-label">Full name</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder=" Placeholder">
        </div>
        <div class="col-md-4">
          <label for="inputAddress" class="form-label">Passport/Citizenship Id</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Placeholder">
        </div>
        <div class="col-md-4">
          <label for="inputAddress2" class="form-label">Phone number</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="+972 Placeholder">
        </div>
        <br>
        <div class="col-12 mt-3">
            <p>A verification code will be sent to this number</p>
            <button type="submit" class="btn btn-primary" routerLink = "/verification">CONTINUE</button>
          </div>
      </form>
</div>
